
.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.row-span-4 {
  grid-row: span 4 / span 4;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gap-8 {
  gap: 2rem;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overscroll-x-none {
  overscroll-behavior-x: none;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-windLight {
  --tw-gradient-from: #a8edea;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(168, 237, 234, 0));
}

.from-sunsetLight {
  --tw-gradient-from: #fa709a;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(250, 112, 154, 0));
}

.to-windDark {
  --tw-gradient-to: #fed6e3;
}

.to-sunsetDark {
  --tw-gradient-to: #fee140;
}

.p-4 {
  padding: 1rem;
}

.p-24 {
  padding: 6rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-normal {
  font-weight: 400;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

*, ::before, ::after {
  --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

@media (min-width: 480px) {
}

@media (min-width: 1025px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .md\:col-start-3 {
    grid-column-start: 3;
  }

  .md\:col-end-7 {
    grid-column-end: 7;
  }

  .md\:row-start-1 {
    grid-row-start: 1;
  }

  .md\:row-start-3 {
    grid-row-start: 3;
  }

  .md\:row-end-5 {
    grid-row-end: 5;
  }

  .md\:row-end-7 {
    grid-row-end: 7;
  }

  .md\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .md\:grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .md\:p-12 {
    padding: 3rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

